# Copyright (c) 2023 Jaap Versteegh <j.r.versteegh@gmail.com>                                                  
# SPDX-License-Identifier: Apache-2.0                                                                
                                                                                                     
config SHIELD_KITRONIK_CRB_5693                                                                       
        def_bool $(shields_list_contains,kitronik_crb_5693) 
